# General
.DS_Store
working_dir/
.vscode/

# python and swig
__pycache__
build/
*_wrap.cpp
*.so
*.pyc

# latex
*.aux
*.log
*.synctex.gz
*.pdf
*.eps

# In FEM_Integration_Test
test
FEMInt.py

# in c++ GSL tests
*.*~
README~
*.out
*.o
MatrixTest.cpp

# debugging
*.dSYM/

# in python FEM implementation
CFEM-DFEM-Ringing-Tests-2/
CFEM-DFEM-Ringing-Tests/
DFEM-ConvergenceTests/